@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h2>Welcome to the Dojo Meetup Center</h2>
    </div>

    <div class="container p-5 border bg-success rounded">
        <div class="row bg-secondary p-3 text-light">
            <div class="col-6">
                <partial name="_Register"></partial>
            </div>
            <div class="col-6">
                <partial name="_Login"></partial>
            </div>
        </div>
    </div>

</div>