@model Actividad

<div style="display: flex; justify-content: space-between;">
    <h2>Dojo Meetup Center</h2>
    <div class="navbar navbar-expand-lg form-inline">
        <div class="">
            <a asp-controller="Home" asp-action="Dashboard" class="btn btn-primary">Dashboard</a>
            <a asp-controller="Home" asp-action="Logout" class="btn btn-warning">Logout</a>
        </div>
    </div>
</div>


<form asp-controller="Home" asp-action="NewActivity" method="POST">

    <div class="container">
        <h3>Create a Meet Up</h3>
        <div class="form-group">
            <label asp-for="ActivityName">Title: </label>
            <input asp-for="ActivityName" class="form-control" />
            <span asp-validation-for="ActivityName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ActivityDate">Date: </label>
            <input asp-for="ActivityDate" class="form-control" />
            <span asp-validation-for="ActivityDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ActivityTime">Time: </label>
            <input asp-for="ActivityTime" class="form-control" />
            <span asp-validation-for="ActivityTime" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="Duration">Duration: </label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Duration">Terms of time?</label>
                <select asp-for="DurationAmount" class="form-control">
                    <option value="Hours">Hours</option>
                    <option value="Minutes">Minutes</option>
                    <option value="Days">Days</option>
                </select>
                <span asp-validation-for="DurationAmount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description: </label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <input type="submit" value="Create Meet Up" class="btn btn-primary">
    </div>
    </div>

</form>